.Header {
  text-align: center;
  .search-section {
    text-align: left;
  }
  .sort-section {
    text-align: right;
  }

  .selection-wedge {
    display: inline-block;
    background-color: #ccc;
    color: white;
    word-break: break-all;
    cursor: pointer;
    border: 1px solid wheat;
    border-radius: 5px;
  }
}
